<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.starbucksorder.another_back.repository.MenuMapper">

    <!--    메뉴 추가-->
    <insert id="save" useGeneratedKeys="true" keyProperty="menuId">
        INSERT INTO
            menu_tb
        VALUES
            (DEFAULT, #{menuName}, #{menuPrice}, #{comment}, 1, NOW(), NOW(), #{imgUrl})
    </insert>
    <!-- 메뉴삭제    -->
    <delete id="deleteByMenuId">
        DELETE
        FROM
            menu_tb
        WHERE
            menu_id = #{menuId}
    </delete>
    <!-- 메뉴 상태 수정    -->
    <update id="updateMenuStatus">
        UPDATE
            menu_tb
        SET
            menu_status = IF(menu_status = 1, 0, 1)
        WHERE
            menu_id =#{menuId}
    </update>


    <!--    <resultMap id="categoryResultMap" type="com.starbucksorder.another_back.entity.Category">-->
<!--        <id property="categoryId" column="categoryId" />-->
<!--        <result property="categoryName" column="categoryName" />-->
<!--        <result property="categoryName" column="categoryName" />-->
<!--        <result property="createDate" column="createDate" />-->
<!--        <result property="updateDate" column="updateDate" />-->
<!--        <collection property="menuList" javaType="java.util.List" resultMap="menuListResultMap" />-->
<!--    </resultMap>-->

<!--    <resultMap id="menuListResultMap" type="com.starbucksorder.another_back.entity.Menu">-->
<!--        <id property="menuId" column="menuId"/>-->
<!--        <result property="categoryId" column="categoryId"/>-->
<!--        <result property="menuName" column="menuName"/>-->
<!--        <result property="menuPrice" column="menuPrice"/>-->
<!--        <result property="comment" column="comment"/>-->
<!--        <result property="status" column="status"/>-->
<!--        <result property="createDate" column="createDate"/>-->
<!--        <result property="updateDate" column="updateDate"/>-->
<!--        <result property="imgUrl" column="imgUrl"/>-->
<!--    </resultMap>-->



<!--    <select id="findAllCategoryItem" resultMap="categoryResultMap">-->
<!--        SELECT-->
<!--            ct.category_id as categoryId,-->
<!--            ct.category_name as categoryName,-->
<!--            ct.category_status as status,-->
<!--            ct.create_date as createDate,-->
<!--            ct.update_date as updateDate,-->

<!--            mt.menu_id as menuId,-->
<!--            mt.category_id as categoryId,-->
<!--            mt.menu_name as menuName,-->
<!--            mt.menu_price as menuPrice,-->
<!--            mt.comment as comment,-->
<!--            mt.menu_status as status,-->
<!--            mt.create_date as createDate,-->
<!--            mt.update_date as updateDate,-->
<!--            mt.img_url as url-->
<!--        FROM-->
<!--            category_tb as ct-->
<!--        LEFT OUTER JOIN menu_tb mt on (ct.category_id = mt.category_id )-->
<!--        WHERE-->
<!--            ct.category_status = 1-->
<!--            and mt.menu_status = 1;-->
<!--    </select>-->


<!---->
    <resultMap id="menuResultMap" type="com.starbucksorder.another_back.entity.Menu">
        <id property="menuId" column="menuId"/>
        <result property="menuName" column="menuName"/>
        <result property="menuPrice" column="menuPrice"/>
        <result property="comment" column="comment"/>
        <result property="menuStatus" column="status"/>
        <result property="createDate" column="createDate"/>
        <result property="updateDate" column="updateDate"/>
        <result property="imgUrl" column="imgUrl"/>
        <collection property="menuDetails" javaType="java.util.List" resultMap="menuDetailResultMap" />
    </resultMap>


    <resultMap id="menuDetailResultMap" type="com.starbucksorder.another_back.entity.MenuDetail">
        <id property="menuDetailId" column="menuDetailId" />
        <result property="menuId" column="menuId" />
        <result property="optionId" column="optionId" />
        <association property="option" resultMap="OptionResultMap" />
    </resultMap>


    <resultMap id="OptionResultMap" type="com.starbucksorder.another_back.entity.Option">
        <id property="optionId" column="optionId" />
        <result property="optionName" column="optionName" />
        <result property="createDate" column="createDate" />
        <result property="updateDate" column="updateDate" />
        <collection property="optionDetail" javaType="java.util.List" resultMap="OptionDetailResultMap" />
    </resultMap>


    <resultMap id="OptionDetailResultMap" type="com.starbucksorder.another_back.entity.OptionDetail">
        <id property="optionDetailId" column="optionDetailId" />
        <result property="optionId" column="optionId" />
        <result property="optionDetailValue" column="optionDetailValue" />
        <result property="optionDetailPrice" column="optionDetailPrice" />
    </resultMap>

    <update id="updateMenuName">
        update
            menu_tb
        set
            menu_name = #{menuName}
        where
            menu_id = #{menuId}
    </update>


    <select id="findByMenuId" resultMap="menuResultMap">
        SELECT
            mt.menu_id as menuId,
            mt.menu_name as menuName,
            mt.menu_price as menuPrice,
            mt.comment as comment,
            mt.menu_status as status,
<!--            mt.create_date as createDate,-->
<!--            mt.update_date as updateDate,-->
            mt.img_url as imgUrl,

            mdt.menu_detail_id as menuDetailId,
            mdt.menu_id as menuId,
            mdt.option_id as optionId,

            ot.option_id as optionId,
            ot.option_name as optionName,
<!--            ot.create_date as createDate,-->
<!--            ot.update_date as updateDate,-->

            odt.option_detail_id as optionDetailId,
            odt.option_detail_value as optionDetailValue,
            odt.option_detail_price as optionDetailPrice
        FROM
            menu_tb mt
        LEFT OUTER JOIN menu_detail_tb mdt on (mdt.menu_id = mt.menu_id)
        LEFT OUTER JOIN option_tb ot on (ot.option_id = mdt.option_id)
        LEFT OUTER JOIN option_detail_tb odt on (odt.option_id = ot.option_id)
        WHERE
            mt.menu_id = #{menuId}
    </select>


<!---->
<!--    <resultMap id="categoryIdResultMap" type="com.starbucksorder.another_back.entity.Category">-->
<!--        <id property="categoryId" column="categoryId" />-->
<!--        <result property="categoryName" column="categoryName" />-->
<!--        <result property="categoryStatus" column="categoryStatus" />-->
<!--        <result property="createDate" column="createDate" />-->
<!--        <result property="updateDate" column="updateDate" />-->
<!--        <collection property="menuList" javaType="java.util.List" resultMap="menuListResultMap" />-->
<!--    </resultMap>-->

<!--    <resultMap id="menuListResultMap" type="com.starbucksorder.another_back.entity.Menu">-->
<!--        <id property="menuId" column="menuId"/>-->
<!--        <result property="menuName" column="menuName"/>-->
<!--        <result property="menuPrice" column="menuPrice"/>-->
<!--        <result property="comment" column="comment"/>-->
<!--        <result property="status" column="status"/>-->
<!--        <result property="createDate" column="createDate"/>-->
<!--        <result property="updateDate" column="updateDate"/>-->
<!--        <result property="imgUrl" column="imgUrl"/>-->
<!--    </resultMap>-->



<!--    <select id="findByCategoryId" resultType="com.starbucksorder.another_back.entity.Menu">-->
<!--        SELECT-->
<!--            ct.category_id as categoryId,-->
<!--            ct.category_name as categoryName,-->
<!--            ct.category_status as status,-->
<!--            ct.create_date as createDate,-->
<!--            ct.update_date as updateDate,-->

<!--            mt.menu_id as menuId,-->
<!--            mt.menu_name as menuName,-->
<!--            mt.menu_price as menuPrice,-->
<!--            mt.comment as comment,-->
<!--            mt.menu_status as status,-->
<!--            mt.create_date as createDate,-->
<!--            mt.update_date as updateDate,-->
<!--            mt.img_url as url-->
<!--        FROM-->
<!--            category_tb as ct-->
<!--        LEFT OUTER JOIN menu_tb mt on (ct.category_id = mt.category_id )-->
<!--        WHERE-->
<!--            ct.category_id = #{categoryId}-->
<!--            and ct.category_status = 1-->
<!--            and mt.menu_status = 1;-->
<!--    </select>-->
<!--    -->

<!--    -->
    <select id="findAllByStartIndexAndLimit" resultType="com.starbucksorder.another_back.entity.Menu">
        select
            mt.menu_id as menuId,
            mt.menu_name as menuName,
            mt.menu_price as menuPrice,
            mt.comment as comment,
            mt.menu_status as status,
            mt.create_date as createDate,
            mt.update_date as updateDate,
            mt.img_url as imgurl
        from
            menu_tb as mt
        left outer join menu_category_tb mct on (mt.menu_id = mct.menu_id)
        left outer join category_tb ct on (mct.category_id = ct.category_id)
        where
        mct.category_id = #{categoryId}
        and mt.menu_status =1
        limit #{startIndex}, #{limit}
    </select>

<!--    -->
    <select id="getCountAllBySearch" resultType="java.lang.Integer">
        select
            count(mt.menu_id) as menuId
        from
            menu_tb as mt
            left outer join menu_category_tb mct on (mt.menu_id = mct.menu_id)
            left outer join category_tb ct on (mct.category_id = ct.category_id)
        where
            mct.category_id = #{categoryId}
    </select>
    <!-- NOTE: 관리자   -->
    <select id="findByMenuName" resultType="java.lang.Boolean">
        SELECT
            count(*) > 0
        FROM
            menu_tb
        WHERE
            menu_name = #{menuName}
    </select>
    <select id="getMenuList" resultType="com.starbucksorder.another_back.entity.Menu">
        SELECT
            menu_id as menuId,
            menu_name as menuName
        FROM
            menu_tb
        order by
            menu_id
    </select>

    <!-- 관리자 메뉴 카운트 -->
    <select id="totalCount" resultType="java.lang.Integer">
        SELECT COUNT(*) AS count
        FROM (
            SELECT
                mt.menu_id AS menuId,
                mt.menu_name AS menuName,
                mt.menu_price AS menuPrice,
                mt.menu_status AS menuStatus,
                GROUP_CONCAT(DISTINCT ct.category_name ORDER BY ct.category_name SEPARATOR ', ') AS categories,
                GROUP_CONCAT(DISTINCT ot.option_name ORDER BY ot.option_name SEPARATOR ', ') AS options
            FROM
                menu_category_tb mct
                LEFT OUTER JOIN menu_tb mt on (mt.menu_id = mct.menu_id)
                LEFT OUTER JOIN category_tb ct on(ct.category_id = mct.category_id)
                LEFT OUTER JOIN menu_detail_tb mdt on(mdt.menu_id = mct.menu_id)
                LEFT OUTER JOIN option_tb ot on(ot.option_id = mdt.option_id)
            GROUP BY
                mt.menu_id
            ORDER BY
                mt.menu_id
                ) AS subquery
    </select>

    <!-- 관리자 메뉴 조회   -->
    <select id="getMenuListPage" resultType="com.starbucksorder.another_back.entity.Menu">
        SELECT
            mt.menu_id AS menuId,
            mt.menu_name AS menuName,
            mt.menu_price AS menuPrice,
            mt.menu_status AS menuStatus,
            GROUP_CONCAT(DISTINCT ct.category_name ORDER BY ct.category_name SEPARATOR ', ') AS categories,
            GROUP_CONCAT(DISTINCT ot.option_name ORDER BY ot.option_name SEPARATOR ', ') AS options
        FROM
            menu_category_tb mct
            LEFT OUTER JOIN menu_tb mt on (mt.menu_id = mct.menu_id)
            LEFT OUTER JOIN category_tb ct on(ct.category_id = mct.category_id)
            LEFT OUTER JOIN menu_detail_tb mdt on(mdt.menu_id = mct.menu_id)
            LEFT OUTER JOIN option_tb ot on(ot.option_id = mdt.option_id)
        GROUP BY
            mt.menu_id
        ORDER BY
            mt.menu_id
        LIMIT
            #{startIndex}, #{limit}
    </select>
    <!-- 관리자 메뉴 검색    -->
    <select id="searchMenuByName" resultType="com.starbucksorder.another_back.entity.Menu">
        SELECT
            mt.menu_id AS menuId,
            mt.menu_name AS menuName,
            mt.menu_price AS menuPrice,
            mt.menu_status AS menuStatus,
            GROUP_CONCAT(DISTINCT ct.category_name ORDER BY ct.category_name SEPARATOR ', ') AS categories,
            GROUP_CONCAT(DISTINCT ot.option_name ORDER BY ot.option_name SEPARATOR ', ') AS options
        FROM
            menu_category_tb mct
            LEFT OUTER JOIN menu_tb mt on (mt.menu_id = mct.menu_id)
            LEFT OUTER JOIN category_tb ct on(ct.category_id = mct.category_id)
            LEFT OUTER JOIN menu_detail_tb mdt on(mdt.menu_id = mct.menu_id)
            LEFT OUTER JOIN option_tb ot on(ot.option_id = mdt.option_id)
        WHERE
            mt.menu_name LIKE CONCAT ('%', #{menuName}, '%')
        OR ct.category_name LIKE CONCAT ('%', #{menuName}, '%')
        GROUP BY
            mt.menu_id
        ORDER BY
            mt.menu_id
    </select>

    <select id="getOptionList" resultType="com.starbucksorder.another_back.entity.Option">
        SELECT
            option_id AS optionId,
            option_name AS optionName
        FROM
            option_tb
        WHERE
            1 = 1
    </select>


</mapper>